.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.team {
  background-image: linear-gradient(to top, rgba(255, 230, 173, 0), #ffe6ad);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: 2rem;
}
.team .PL {
  width: 100%;
  text-align: center;
}
.team .PL img {
  border-radius: 30rem;
  padding: 1%;
}
.team .Team_members {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.team .Team_members img {
  border-radius: 20rem;
  width: 50%;
  padding: 3%;
}
header {
  display: flex;
  flex-direction: column;
}
header .bg_img {
  background-image: url("header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  header .bg_img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .bg_img {
    width: 100%;
  }
}
header .bg_img .nav_container {
  border: 20px solid rgba(255, 230, 173, 0.5);
  border-radius: 1.2rem;
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
@media (max-width: 1000px) {
  header .bg_img .nav_container {
    width: 90%;
  }
}
@media (max-width: 500px) {
  header .bg_img .nav_container {
    border: none;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
header .bg_img .nav_container p {
  color: white;
  width: 35%;
  font-size: 2.5rem;
  padding-top: 1%;
  font-family: 'Podkova', serif;
  font-weight: bolder;
}
@media (max-width: 1000px) {
  header .bg_img .nav_container p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  header .bg_img .nav_container p {
    width: 95%;
    font-size: 2rem;
    height: 15%;
    font-weight: bolder;
  }
}
header .bg_img .nav_container nav {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
@media (max-width: 500px) {
  header .bg_img .nav_container nav {
    height: 80%;
    width: 95%;
    flex-direction: column;
  }
}
header .bg_img .nav_container nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Podkova', serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 2%;
}
@media (max-width: 1000px) {
  header .bg_img .nav_container nav a {
    font-size: 1.5rem;
    width: 30%;
    margin-right: 5%;
  }
}
@media (max-width: 500px) {
  header .bg_img .nav_container nav a {
    width: 95%;
    margin-top: 1%;
  }
}
header .header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgba(255, 230, 173, 0), #ffe6ad);
}
header .header_content h1 {
  font-size: 5rem;
  font-family: 'Port Lligat Sans', sans-serif;
  width: 50%;
  text-align: center;
}
@media (max-width: 1000px) {
  header .header_content h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 500px) {
  header .header_content h1 {
    font-size: 3rem;
    font-weight: bold;
    width: 80%;
  }
}
header .header_content p {
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: 2rem;
  width: 80%;
  padding: 2%;
}
@media (max-width: 1000px) {
  header .header_content p {
    padding: 5%;
    width: 80%;
  }
}
@media (max-width: 500px) {
  header .header_content p {
    width: 80%;
    font-size: 1rem;
  }
}
header .header_content .start {
  font-size: 3rem;
  background-color: white;
  border-radius: 2rem;
  border: 3px solid #3636f0;
  font-family: 'Port Lligat Sans', sans-serif;
  padding: 1%;
  width: 50%;
  text-align: center;
}
@media (max-width: 1000px) {
  header .header_content .start {
    width: 70%;
  }
}
@media (max-width: 500px) {
  header .header_content .start {
    width: 80%;
  }
}
@media (max-width: 500px) {
  header .header_content .start svg {
    display: none;
  }
}
header .header_content .start a {
  text-decoration: none;
  color: black;
}
@media (max-width: 1000px) {
  header .header_content .start a {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  header .header_content .start a {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  header .header_content hr {
    width: 80%;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffe6ad;
  margin-top: 3%;
}
footer nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer nav a {
  padding: 1%;
  font-family: 'Podkova', serif;
  text-decoration: none;
  justify-content: flex-end;
  width: 20%;
  color: black;
}
.section_one {
  display: flex;
  flex-direction: column;
  color: #ffe6ad;
  height: 100%;
  width: 100%;
}
.section_one .section_one_heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section_one .section_one_heading h1 {
  font-size: 4rem;
  font-family: 'Podkova', serif;
  color: black;
}
@media (max-width: 500px) {
  .section_one .section_one_heading h1 {
    font-size: 2.5rem;
  }
}
.section_one .section_one_heading p {
  font-family: 'Salsa', cursive;
  width: 50%;
  color: black;
}
@media (max-width: 500px) {
  .section_one .section_one_heading p {
    width: 90%;
  }
}
.section_one .section_one_heading hr {
  width: 60%;
  border: 1px solid grey;
  padding: 1%,0;
}
@media (max-width: 500px) {
  .section_one .section_one_heading hr {
    width: 90%;
  }
}
.section_one .pictures {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_one .pictures img {
  height: 100%;
  width: 25%;
  border-radius: 7rem;
  padding: 4%;
}
.section_one .icons {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section_one .icons p {
  font-family: 'Life Savers', cursive;
  font-size: 1.5rem;
  color: black;
}
@media (max-width: 1000px) {
  .section_one .icons p {
    font-size: 0.9rem;
  }
}
.section_one .icons .mountain_icon {
  width: 25%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .section_one .icons .mountain_icon {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .section_one .icons .mountain_icon svg {
    display: none;
  }
}
.section_one .icons .mountain_icon p {
  padding: 5%;
}
.section_one .icons .paw_icon {
  width: 25%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .section_one .icons .paw_icon {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .section_one .icons .paw_icon svg {
    display: none;
  }
}
.section_one .icons .paw_icon p {
  padding: 5%;
}
.section_one .icons .bamboo_icon {
  width: 25%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .section_one .icons .bamboo_icon {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .section_one .icons .bamboo_icon svg {
    display: none;
  }
}
.section_one .icons .bamboo_icon p {
  padding: 5%;
}
.section_one .icons .butterflies,
.section_one .icons .koala,
.section_one .icons .red_panda {
  width: 25%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .section_one .icons .butterflies,
  .section_one .icons .koala,
  .section_one .icons .red_panda {
    flex-direction: column;
    padding: 5%;
  }
}
.section_one .icons .butterflies ul,
.section_one .icons .koala ul,
.section_one .icons .red_panda ul {
  color: black;
  margin-top: 2%;
}
.section_one .icons .butterflies ul li,
.section_one .icons .koala ul li,
.section_one .icons .red_panda ul li {
  padding: 3%;
  font-family: 'Life Savers', cursive;
}
@media (max-width: 1000px) {
  .section_one .icons .butterflies ul li,
  .section_one .icons .koala ul li,
  .section_one .icons .red_panda ul li {
    font-size: 0.8rem;
    margin-left: 10%;
  }
}
.section_one .icons .butterflies p,
.section_one .icons .koala p,
.section_one .icons .red_panda p {
  padding: 5%;
  margin-right: 3%;
}
