html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  flex-direction: column;
}
header .bg_img {
  border: 1px solid purple;
  background-image: url("header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  header .bg_img {
    width: 100%;
  }
}
header .bg_img .nav_container {
  border: 20px solid rgba(133, 134, 134, 0.5);
  border-radius: 1.2rem;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  header .bg_img .nav_container {
    border: none;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
header .bg_img .nav_container p {
  border: 1px solid green;
  align-content: flex-end;
  color: white;
  width: 40%;
  font-size: 3rem;
  padding-top: 1%;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
}
@media (max-width: 500px) {
  header .bg_img .nav_container p {
    width: 95%;
    font-size: 2rem;
    height: 15%;
    font-weight: bolder;
  }
}
header .bg_img .nav_container nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
@media (max-width: 500px) {
  header .bg_img .nav_container nav {
    height: 80%;
    width: 95%;
    flex-direction: column;
  }
}
header .bg_img .nav_container nav a {
  border: 1px solid blue;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 500px) {
  header .bg_img .nav_container nav a {
    width: 95%;
    margin-top: 1%;
  }
}
header .header_content {
  border: 3px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgba(37, 201, 206, 0), #25c9ce);
}
header .header_content h1 {
  border: 1px solid red;
  font-size: 5rem;
  font-family: 'Port Lligat Sans', sans-serif;
  width: 50%;
  text-align: center;
}
@media (max-width: 500px) {
  header .header_content h1 {
    font-size: 2rem;
    width: 50%;
  }
}
header .header_content p {
  border: 1px solid blue;
  font-family: 'Questrial', sans-serif;
  width: 50%;
}
@media (max-width: 500px) {
  header .header_content p {
    width: 50%;
  }
}
header .header_content .start {
  font-size: 4rem;
  background-color: white;
  border-radius: 2rem;
  font-family: 'Port Lligat Sans', sans-serif;
  padding: 1%;
  width: 40%;
  text-align: center;
}
@media (max-width: 500px) {
  header .header_content hr {
    width: 80%;
    border: 1px solid red;
  }
}
.section_one {
  display: flex;
  border: 2px solid blue;
  color: #25c9ce;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.section_one .section_one_heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_one .section_one_heading h1 {
  border: 1px solid green;
  font-size: 4rem;
  font-family: 'Podkova', serif;
}
.section_one .section_one_heading p {
  border: 1px solid red;
  font-family: 'Salsa', cursive;
}
.section_one .section_one_heading hr {
  width: 60%;
  border: 1px solid grey;
  padding: 1%,0;
}
.section_one .pictures {
  border: 2px solid red;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_one .pictures img {
  height: 100%;
  width: 25%;
  border-radius: 7rem;
  padding: 4%;
}
.section_one .icons {
  border: 1px solid purple;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section_one .icons .otter_icon {
  border: 1px solid green;
  width: 20%;
  display: flex;
  flex-direction: row;
}
.section_one .icons .otter_icon p {
  padding: 5%;
}
.section_one .icons .hippo_icon {
  border: 1px solid green;
  width: 20%;
  display: flex;
  flex-direction: row;
}
.section_one .icons .hippo_icon p {
  padding: 5%;
}
.section_one .icons .frog_icon {
  border: 1px solid green;
  width: 20%;
  display: flex;
  flex-direction: row;
}
.section_one .icons .frog_icon p {
  padding: 5%;
}
