.section_one {
    display: flex;
    color: rgba(37,201,206,1);
    height:100%;
    width:100%;
    flex-direction: column;
    
    .section_one_heading {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        h1 {
            font-size: 4rem;
            font-family: 'Podkova', serif;
            color: black;
        
        }
    
        p {
            font-family: 'Salsa', cursive;
            width: 50%;
            color: black;
            
        }
        hr {
            width: 60%;
            border: 1px solid grey;
            padding: 1%,0;
        }
    }

    .pictures {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            height: 100%;
            width: 25%;
            border-radius: 7rem;
            padding: 4%;
    
        }
    
    }
    .icons {
        width:100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        

       p {
           font-family: 'Life Savers', cursive;
           font-size: 1.5rem;
           color:black;
       }
        
        .otter_icon {
            width:22%;
            display: flex;
            flex-direction: row;
           
            p {
                padding: 5%;

            }
        }
        .hippo_icon {
            width: 22%;
            display: flex;
            flex-direction: row;
            p {
                padding: 5%;
            }
        }
        .frog_icon {
            width: 22%;
            display: flex;
            flex-direction: row;
            p {
                padding: 5%;
            }
        }
    
    }
}

.section_two{
    height:20%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    img {
        height:25%;
        width:25%;
        border-radius: 3rem;
        padding: 2%;
    }
}