

header{
    .flex-column;
            
    .bg_img {        
       
        background-image: url("header.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 250px;
        .flex-center;

        @media @tablet {
            width: 100%;
        }
        
        @media @mobile {
            width:100%;
        }        
                
        
            
        .nav_container {
            
            border: 20px solid rgba(255,230,173,.5);
            border-radius: 1.2rem;
            width: 80%;
            height: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
                    
           
            @media @tablet {
                width: 90%;
            }
            
            @media @mobile {
                border:none;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;
                width: 100%;
                text-align: center;
            }     
            
            p {
                
                color: white;
                width: 35%;
                font-size: 2.5rem;
                padding-top: 1%;
                font-family: 'Podkova', serif;
                font-weight: bolder;
                
                @media @tablet {
                    font-size: 2rem;
                }
                
                @media @mobile {
                    width: 95%;
                    font-size: 2rem;
                    height: 15%;
                    font-weight: bolder;
                }
            }

            nav {
                display: flex;
                justify-content: space-evenly;
                width: 70%;
                        
                
                @media @mobile {
                    height: 80%;
                    width: 95%;
                    flex-direction: column;
                }        
                
                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-family: 'Podkova', serif;
                    font-size: 2rem;
                    text-align: center;
                    padding-top:2%;
                           
                          
                    @media @tablet {
                        font-size: 1.5rem;
                        width: 30%;
                        margin-right: 5%;
                    }
                    
                    @media @mobile {
                        width: 95%;
                        margin-top: 1%;
                    }
                           
                }
            }
                
                   
                
        }
    }
    .header_content {
        
        .flex-center;
        flex-direction: column;
        background-image: linear-gradient(to bottom right, rgba(255,230,173,0), @bgcolor);
               
               
            
        h1 {
          
            font-size: 5rem;
            font-family: 'Port Lligat Sans', sans-serif;
            width:50%;
            text-align: center;

            
            @media @mobile {
                font-size: 3rem;
                font-weight: bold;
                width: 80%;
               
            }
        }
            
        p {
            font-family: 'Port Lligat Sans', sans-serif;
            font-size: 2rem;
            width: 50%;
            padding: 1%;
            
            @media @tablet {
                padding: 5%;
                width: 80%;
            }
            
            @media @mobile {
                width:80%;
                font-size: 1rem;
            }
            
        }
        .start {
            font-size: 3rem;
            background-color:white;
            border-radius: 2rem;
            border: 3px solid rgb(54, 54, 240);
            font-family: 'Port Lligat Sans', sans-serif;
            padding: 1%;
            width:40%;
            text-align: center;
            
            @media @tablet {
                width: 70%;
            }
            @media @mobile {
                width: 80%;
            }
            
            svg {
                @media @mobile {
                    display: none;
                }
            }
            
            a {
                text-decoration: none;
                color: black;

                @media @tablet {
                   font-size: 2.5rem;
                }

                @media @mobile {
                    font-size: 2.2rem;
                }
            
            }
        }
        hr {
            
            @media @mobile {
                width:80%;
            
            }
        }
            
    }
}
 