
html{
    body{
        header{
            .bg_img {
                background-image: url("header.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                
    
            
                .nav_container {
                    border: 20px solid rgba(133, 134, 134, .5);
                    border-radius: 1.2rem;
                    width: 70%;
                    height: 50%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                
                    p {
                        align-content: flex-end;
                        color: white;
                        width: 40%;
                        font-size: 3rem;
                        padding: 1%;
                        font-family: 'Gloria Hallelujah', cursive;
                    }

                    nav {
                        display: flex;
                        justify-content: space-evenly;
                        width: 70%;
                        
                        
                        a {
                           text-decoration: none;
                            color: white;
                            font-family: 'Gloria Hallelujah', cursive;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}